.v-application a {
  text-decoration: none;
}

::-moz-selection {
  background: #444;
}

::selection {
  background: #444;
}

::-webkit-scrollbar{width:8px;background:#333}
::-webkit-scrollbar-track{background:#222}
::-webkit-scrollbar-thumb{background:#333;padding:4px;margin:4px}
::-webkit-scrollbar-thumb:window-inactive{background:#222}

#app {
  &.theme--dark {
    background: #212121;
  }

  .v-menu__content {
    box-shadow: 0 0 0 1px rgba(255,255,255,0.05);

    .v-divider {
      border-color: rgba(255,255,255,0.05);
    }
  }
}